<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.service.mapper.TestMapper">
	
	<select id="query" resultType="com.aurora.model.test.TestModel">
		SELECT R.ID , R.`NAME`,R.SEQ,R.`STATUS`,R.DESCRIPTION FROM  SYS_ROLE R
	</select>

	
</mapper>